{% extends "base.html" %}
{% load openn_filters %}

{% block content %}

<div class="breadcrumb">
  <p>
    <span><a href="/">Home</a></span> |
    <span><a href="/Repositories.html">Repositories</a></span> |
    <span><a href="{{ doc.toc_path }}">{{ doc.repository.name }}</a></span>
  </p>
</div>

<div>
  <p>
    <span class="collection_info">Collection ID: {{ doc.repository.long_id }}</span> |
    <span class="collection_info">Metadata type: {{ doc.repository.metadata_type }}</span> |
    {% if item.document.repository.metadata_type|lower != 'custom' %}
      <span class="page-link"><a href="/{{ doc.document.tei_path }}">TEI XML</a></span> |
    {% endif %}
    <span class="page-link"><a href="/{{ doc.document.package_dir }}">Data</a></span>
  </p>
</div>



<h1>{{ doc.document.call_number }} {{ doc.document.title }}{% if doc.tei.title_vernacular %} / <span dir="auto">{{ doc.tei.title_vernacular }}</span>{% endif %}</h1>
        <div>
          <h4>Title</h4>
          <span>{{ doc.tei.title }}</span><br>
            {% if doc.tei.title_vernacular %}
            <span dir="auto">
               {{ doc.tei.title_vernacular }}
          </span>
            {% endif %}
        </div>

        {% if doc.tei.authors %}
        <div>
          <h4>Authors</h4>
          <ul class="list-unstyled">
          {% for author in doc.tei.authors %}
             <li>{{ author.name }}
             {% if author.ref %}
             ({{ author.ref|urlize }})
             {% endif %}
             {% if author.vernacular %}
             <br>
             <span dir="auto">
               {{ author.vernacular }}
             </span>
             {% endif %}
           </li>

           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.related_names %}
        <div>
          <h4>Other related names</h4>
          <ul class="list-unstyled">
          {% for resp in doc.tei.related_names %}
             <li>{{ resp.name }}, {{resp.resp}}
             {% if resp.ref %}
             ({{ resp.ref|urlize }})
             {% endif %}
             {% if resp.vernacular %}
             <br>
             <span dir="auto">
              {{ resp.vernacular }}
            </span>
             {% endif %}
             </li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.funders %}
        <div>
          <h4>Funders</h4>
          <ul class="list-unstyled">
          {% for funder in doc.tei.funders %}
             <li>{{ funder }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.call_number %}
        <div>
          <h4>Call number</h4>
          <span>{{ doc.tei.call_number }}</span><br />
          ({{ doc.document_location }})
        </div>
        {% endif %}

        {% if doc.tei.alt_identifiers %}
        <div>
          <h4>Alternate identifiers</h4>
          <ul class="list-unstyled">
          {% for id in doc.tei.alt_identifiers %}
             <li>{{ id.text|urlize }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.publisher %}
        <div>
          <h4>Publisher</h4>
          <span>{{ doc.tei.publisher }}</span><br />
        </div>
        {% endif %}

        {% if doc.tei.text_lang %}
        <div>
          <h4>Language</h4>
           <span>{{ doc.tei.text_lang }}</span>
        </div>
        {% endif %}

        {% if doc.origin %}
        <div>
          <h4>Origin</h4>

          {% if doc.tei.origin %}
          <div>
            <span>{{ doc.tei.origin }}</span>
          </div>
          {% endif %}

          <dl>
            {% if doc.tei.orig_date %}
            <dt>Date</dt>
            <dd>{{ doc.tei.orig_date }}</dd>
            {% endif %}

            {% if doc.tei.orig_places %}
            <dt>Place</dt>
            <dd>
              {% for place in doc.tei.orig_places %}
              {{ place }}<br />
              {% endfor %}
            </dd>
            {% endif %}
          </dl>
        </div>
        {% endif %}

        {% if doc.tei.summary %}
        <div>
          <h4>Summary</h4>
          <p><span>{{ doc.tei.summary }}</span></p>
        </div>
        {% endif %}

        {% if doc.tei.notes %}
        <div>
          <h4>Notes</h4>

          <ul class="list-unstyled">
          {% for note in doc.tei.notes %}
             <li>{{ note }}<br/>&nbsp;</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.support %}
        <div>
          <h4>Support</h4>
          <span>{{ doc.tei.support|capfirst }}</span>
        </div>
        {% endif %}

        {% if doc.tei.watermark %}
        <div>
          <h4>Watermark</h4>
          <span>{{ doc.tei.watermark }}</span>
        </div>
        {% endif %}

        {% if doc.tei.extent %}
        <div>
          <h4>Extent</h4>
          <span>{{ doc.tei.extent|capfirst }}</span>
        </div>
        {% endif %}

        {% if doc.tei.foliation %}
        <div>
          <h4>Foliation</h4>
          <span>{{ doc.tei.foliation }}</span>
        </div>
        {% endif %}

        {% if doc.tei.collation %}
        <div>
          <h4>Collation</h4>
          <span>{{ doc.tei.collation }}</span>
        </div>
        {% endif %}

        {% if doc.tei.signatures %}
        <div>
          <h4>Signatures</h4>
          <span>{{ doc.tei.signatures }}</span>
        </div>
        {% endif %}

        {% if doc.tei.support_material %}
        <div>
          <h4>Support</h4>
          <span>{{ doc.tei.support_material|capfirst }}</span>
        </div>
        {% endif %}

        {% if doc.tei.catchwords %}
        <div>
          <h4>Catchwords</h4>
          <span>{{ doc.tei.catchwords }}</span>
        </div>
        {% endif %}

        {% if doc.tei.binding %}
        <div>
          <h4>Binding</h4>
          <span>{{ doc.tei.binding }}</span>
        </div>
        {% endif %}

        {% if doc.tei.layouts %}
        <div>
          <h4>Layout</h4>
          {% for layout in doc.tei.layouts %}
          <li>{{ layout }}</li>
          {% endfor %}
        </div>
        {% endif %}

        {% if doc.tei.decoration %}
        <div>
          <h4>Decoration</h4>
          <p><span>{{ doc.tei.decoration }}</span></p>
        </div>
        {% endif %}

        {% if doc.tei.scripts %}
        <div>
          <h4>Script</h4>
          {% for script in doc.tei.scripts %}
          <li>{{ script }}</li>
          {% endfor %}
        </div>
        {% endif %}

        {% if doc.tei.colophon %}
        <div>
          <h4>Colophon</h4>
          <span>{{ doc.tei.colophon }}</span>
        </div>
        {% endif %}

        {% if doc.tei.provenance %}
        <div>
          <h4>Provenance</h4>

          <ul class="list-unstyled">
          {% for note in doc.tei.provenance %}
             <li>{{ note }}<br/>&nbsp;</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.related_resources %}
        <div>
          <h4>Related resources</h4>

          <ul class="list-unstyled">
          {% for resource in doc.tei.related_resources %}
             <li>
             {% if resource.text %}
             {{ resource.text }}
             {% endif %}
             {% if resource.target %}
             ({{ resource.target|urlize }})
             {% endif %}
             </li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.namesubjects %}
        <div>
          <h4>Subjects names</h4>
          <ul class="list-unstyled">
          {% for namesubject in doc.tei.namesubjects %}
             <li>{{ namesubject }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.subjects %}
        <div>
          <h4>Subjects topical</h4>
          <ul class="list-unstyled">
          {% for subject in doc.tei.subjects %}
             <li>{{ subject }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.geosubjects %}
        <div>
          <h4>Subjects geographic</h4>
          <ul class="list-unstyled">
          {% for geosubject in doc.tei.geosubjects %}
             <li>{{ geosubject }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.genres %}
        <div>
          <h4>Genres</h4>
          <ul class="list-unstyled">
          {% for genre in doc.tei.genres %}
             <li>{{ genre }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.keywords %}
        <div>
          <h4>Keywords</h4>
          <ul class="list-unstyled">
          {% for keyword in doc.tei.keywords %}
             <li>{{ keyword }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.licences %}
        <div>
          <h4>Licenses</h4>
          <ul class="list-unstyled">
          {% for licence in doc.tei.licences %}
             <li>
               <dl>
                 <dt>Text</dt>
                 <dd>{{ licence.text|urlize }}</dd>
                 <dt>URL</dt>
                 <dd><a href="{{ licence.target }}">{{ licence.target }}</a></dd>
               </dl>
             </li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.has_toc %}
        {% with pages=doc.ms_item_pages %}
        <div>
          <a name="toc"></a>
          <h4>Table of contents</h4>
          <ul>
          {% for page in pages %}
          {% for ms_item in page.ms_items %}
          <li>
            <span style="font-style: italic;"><a href="#{{ page.image.label|aname }}">{{ page.image.display_label }}</a> &mdash; </span>
            <span>{{ ms_item.title }}{% if ms_item.incipit %};
            incipit: {{ ms_item.incipit }}{% endif %}{% if ms_item.explicit %}; explicit: {{ ms_item.explicit }}{% endif %}

            </span>
          </li>
          {% endfor %}
          {% endfor %}
          </ul>
        </div>
        {% endwith %}
        {% endif %}

        {% if doc.has_deco_list %}
        {% with pages=doc.deco_note_pages %}
        <div>
          <a name="decorations"></a>
          <h4>Decorations</h4>
          <ul>
          {% for page in pages %}
          {% for note in page.deco_notes %}
          <li>
            <span style="font-style: italic;"><a href="#{{ page.image.label|aname }}">{{ page.image.display_label }}</a> &mdash; </span>
            <span>{{ note }}</span>
          </li>
          {% endfor %}
          {% endfor %}
          </ul>
        </div>
        {% endwith %}
        {% endif %}

<h4>Images</h4>
{% if doc.pages %}
<div id="divthumbs">

      {% for page in doc.pages %}
      <div class="divthumb">
        <hr />
        <a name="{{ page.image.label|aname }}"></a>
        {% with thumb=page.image.thumb %}
        {% if thumb %}
        <a href="{{ page.image.web.url }}"><img src="{{ thumb.url }}" height="{{ thumb.height }}" width="{{ thumb.width }}" /></a>
        {% endif %}
        {% endwith %}
        <p></p>
        <span class="label">{{ page.image.display_label }}</span><br />
        {% for deriv in page.image.derivative_set.all %}
          <a href="{{ deriv.url }}">{{ deriv.path|basename }}</a> ({{ deriv.bytes|filesizeformat }}) <br />
        {% endfor %}
          {% for title in  page.titles %} <span>Section: {{ title }}</span><br /> {% endfor %}
          {% for note in page.deco_notes %}<span>Decoration: {{ note }}</span><br />{% endfor %}
      </div>
      {% endfor %}
</div>
{% else %}
<div>
    <p>See <a href="{{ doc.package_dir }}">document directory</a> for images and metadata.</p>
</div>
{% endif %}
{% endblock %}
