{% extends "base.html" %}

{% block title %}OPenn Collections{% endblock %}

{% block content %}

<div class="breadcrumb"><p>
    <span><a href="/">Home</a>&nbsp;</span>
</p></div>

{% load markdown_deux_tags %}
{% markdown %}

# OPenn Collections

OPenn is a website that hosts manuscript images and metadata from the University of Pennsylvania Libraries and collaborating institutions as open data for bulk download and reuse. OPenn's purpose is not to provide a slick interface, but the digital raw materials of images and metadata for research, publication and application development. It's data that's both open and free. All data on OPenn is available via Creative Commons licenses approved for [Free Cultural Works](https://creativecommons.org/share-your-work/public-domain/freeworks/); that is, these materials may be shared and reused in any form and for any purpose, including commercial uses, without requiring users to ask permission. For more information on the licenses OPenn uses see: [Contributing to OPenn][contributing].

[contributing]: /Contributing.html "Contributing to OPenn"

OPenn collections include materials from the University of Pennsylvania, its partners, and other institutions.OPenn collections currently have strengths in Medieval and Renaissance manuscripts, manuscripts of the Islamic world, Hebrew manuscripts, Indic and Thai manuscripts, early church records of Philadelphia, and early Philadelphia medical documents. These materials include parchment and paper codex books, but also letters, clay tablets, three dimensional objects, and documents written on bark and palm leaves.

OPenn is committed to hosting archival quality images and robust metadata of cultural heritage documents and objects for reuse, with the idea that users should have access to the same data at the same quality as those who created the digital files. Thus, OPenn hosts full-resolution color archival-quality images and linked, rich TEI metadata.

OPenn is hosted by Penn Libraries' Library Technology Services and maintained by Penn Libraries' Cultural Heritage Computing group. The OPenn review committee includes staff from CHC and the Kislak Center for Special Collections, Rare Books & Manuscripts and the Schoenberg Institute for Manuscript Studies.

### OPenn Collection policy

OPenn is interested in adding digitized materials and collections of unique objects that meet its quality standards and licensing requirements and that fall in one or more of these categories:

1. Materials that complement or expand OPenn's existing areas of collection strength
2. Materials that add new cultural or topical areas of collection strength to OPenn, especially those that span multiple institutions
3. Materials already online, but which would benefit from OPenn's friction-free presentation model
4. Materials from organizations seeking an existing open access platform for their collections
5. Materials that advance Penn Libraries' strategic goals of innovation, diversity, equity and inclusion

{% endmarkdown %}
{% endblock %}