{% load openn_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if title %}
    <title>OPenn: {{ title }}</title>
    {% else %}
    <title>OPenn</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="/html/css">
    <link rel="stylesheet" type="text/css" href="/html/css(1)">
    <link rel="stylesheet" type="text/css" href="/html/openn.css">
    <link rel="stylesheet" type="text/css" href="/html/pygments-github.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-982196-19', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div id="div_logo"><a href="/" title="OPenn Home"><img src="/html/openn_toplogo10.jpg" alt="OPenn"></a></div>
    <div id="div_toplinks">
      <a href="/ReadMe.html">Introduction</a> -
      <a href="/TechnicalReadMe.html">Technical Help</a> -
      <a href="/Repositories.html">Repositories</a> -
      <a href="/CuratedCollections.html">Curated Collections</a> -
      <a href="/Search.html">Search</a>
    </div>

    <div id="content">

{% block title %}{{ curated_collection.name }}{% endblock %}

{% block content %}

<div class="breadcrumb">
  <p>
    <span><a href="/">Home</a></span>&nbsp;|&nbsp;<span><a href="/Repositories.html">Repositories</a><span>
  </p>
</div>

<h1>{{ curated_collection.name }}</h1>


{% include curated_collection.include_file %}


{% if items %}
<h2>The documents on OPenn</h2>
{% endif %}
{% endblock %}