{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Folger Shakespeare Library

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from the Folger
Shakespeare Library hosted here are free of known copyright restrictions
and in the public domain. See the Creative Commons Public Domain Mark
page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the Folger
Shakespeare Library has waived all copyright and related or neighboring
rights to its metadata hosted here. This work is published from: United
States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from the Folger Shakespeare Library have facsimiles
available online, in a user-friendly format, at:

- <https://luna.folger.edu/luna/servlet>

### About the Folger Shakespeare Library

Folger Shakespeare Library is the world's largest Shakespeare collection
-- and home to major collections of other Renaissance books,
manuscripts, and works of art, the ultimate resource for exploring
Shakespeare and his world. The Folger welcomes millions of visitors
online and in person. It provides unparalleled access to a huge array of
resources, from original sources to modern interpretations. With the
Folger, you can experience the power of performance, the wonder of
exhibitions, and the excitement of pathbreaking research. The Folger
offers the opportunity to see and even work with early modern sources,
driving discovery and transforming education for students of all ages. A
gift to the American people from Henry and Emily Folger, the Folger
opened in 1932 one block from the US Capitol in Washington, DC.

OPenn includes some of the items from the Folger Shakespeare Library.
For more information on all of the collections available at the
Folger see:

- <https://www.folger.edu/the-collection/>

### Image standards and specifications

Images from the Folger Shakespeare Library were shot and processed by
the Schoenberg Center for Electronic Text & Image. In general, The
Schoenberg Center for Electronic Text & Image follows the NISO standards
as articulated in *A Framework for Building Good Digital Collections*,
3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.  

{% endmarkdown %}
