{% load markdown_deux_tags %}
{% markdown %}

## Documents from Princeton University Library

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from Princeton
University Library hosted here are free of known copyright restrictions
and in the public domain. See the Creative Commons Public Domain Mark
page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, Princeton
University Library has waived all copyright and related or neighboring
rights to its metadata hosted here. This work is published from: United
States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Princeton University Library's rich set of digitized material is
available through several portals, all of which are complementary
applications to PUL's online catalog and finding aids. Both the catalog
and finding aids are the main discovery platforms for all content
available in the Library's [Digital Repository
(Figgy)](https://library.princeton.edu/digital-collections/digital-pul/
technology). Learn more at:

- <https://library.princeton.edu/digital-collections>

### About Princeton University Library

Princeton University Library (PUL) has more than 11 million holdings,
and encompasses 12 buildings on the campus. One of the largest
open-stack libraries in the world, the Harvey S. Firestone Memorial
Library functions as the main library on campus and assumes primary
responsibility for the humanities and social sciences. PUL’s Special
Collections span five millennia and five continents, and include around
300,000 rare books; 30,000 linear feet of manuscript materials, ranging
from cuneiform tablets to contemporary texts; a wealth of prints,
drawings, photographs, maps, coins, and other visual materials. Special
Collections includes the Cotsen Children's Library, the Scheide Library,
the Public Policy Papers and the Princeton University Archives. 

### Image standards and specifications

Princeton University Library observes the following
digitization best practices:

- [Digitization Best Practices at Princeton University
Library](https://library.princeton.edu/digital-collections/digitization-best-practices).

#### Metadata standards and specifications

Princeton University observes the following cataloging and metadata standards:

- [Cataloging and Metadata Services Standards at Princeton University
Library](https://library.princeton.edu/cams/cataloging-and-metadata-services).

{% endmarkdown %}