{% extends "base.html" %}

{% block title %}{{ repository.name }}{% endblock %}

{% block content %}

<div class="breadcrumb">
  <p>
    <span><a href="/">Home</a></span>&nbsp;|&nbsp;<span><a href="/Repositories.html">Repositories</a><span>
  </p>
</div>

<h1>{{ repository.name }}</h1>

<p><span class="collection_info">Repository ID: {{ repository.long_id }} </span> | <span class="collection_info">Metadata type: {{ repository.metadata_type }}</span></p>

{% include repository.include_file %}

{% if items %}
<h2>The documents on OPenn</h2>

<ul class="ul_documents">
  {% for item in items %}
  <li>
    {% if item.document.call_number %}
    <span class="item-id">{{ item.document.call_number }}:</span>
    {% endif %}
    <span class="item-name">{{ item.document.title }}{% if item.tei.title_vernacular %} / <span dir="auto">{{ item.tei.title_vernacular }}</span>{% endif %}</span>
    {% with origin=item.origin %}
    {% if origin|length > 0 %}
    <span class="item-origin">({{ origin|join:', '}})</span>
    {% endif %}
    {% endwith %}
    <br/>
    {% if item.document.repository.metadata_type|lower != 'custom' %}
    <span class="page-link"><a href="/{{ item.document.browse_path }}">Browse</a></span> |
    <span class="page-link"><a href="/{{ item.document.tei_path }}">TEI XML</a></span> |
    {% endif %}
    <span class="page-link"><a href="/{{ item.document.package_dir }}">Data</a></span>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}