
  {% for item in items %}
  <li>
    {% if item.document.call_number %}
    <span class="item-id">{{ item.document.call_number }}:</span>
    {% endif %}
    <span class="item-name">{{ item.document.title }}{% if item.tei.title_vernacular %} / <span dir="auto">{{ item.tei.title_vernacular }}</span>{% endif %}</span>
    {% with origin=item.origin %}
    {% if origin|length > 0 %}
    <span class="item-origin">({{ origin|join:', '}})</span>
    {% endif %}
    {% endwith %}
    <br/>
    {% if item.document.repository.metadata_type|lower != 'custom' %}
    <span class="page-link"><a href="/{{ item.document.browse_path }}">Browse</a></span> |
    <span class="page-link"><a href="/{{ item.document.tei_path }}">TEI XML</a></span> |
    {% endif %}
    <span class="page-link"><a href="/{{ item.document.package_dir }}">Data</a></span>
  </li>
  {% endfor %}
